# default owner(s) for everything in the repo
# PRs are automatically requested for review by this owner
*       @tamsinrogers

# default owner(s) for everything in .github
/.github/ @FCP-INDI/core

# see https://docs.github.com/en/enterprise-cloud@latest/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#:~:text=apps/github%20%40doctocat-,CODEOWNERS%20and%20branch%20protection,-Repository%20owners%20can for more info on setting up CODEOWNERS